.product-details-page {
  padding: 20px;
}

.product-details-page img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 16px;
}

.details {
  margin-top: 15px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
}

.desc {
  color: #555;
  margin: 10px 0;
}

.sizes span {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  background: #f2f2f2;
  border-radius: 10px;
  font-size: 12px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border-radius: 14px;
  border: none;
  background: lightpink;
  cursor: pointer;
}
.image-gallery {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.image-gallery img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail-row img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  cursor: pointer;
  background: #eee;
}
