.admin-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
}

.admin-card {
  width: 320px;
  padding: 25px;
  border-radius: 16px;
  background: white;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: center;
}

.admin-card input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.admin-card button {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background: lightpink;
  cursor: pointer;
}
